.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #cce4f7;
  }
  
  .cat {
    position: absolute;
    width: 80px;
    border-radius: 50%;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    user-select: none;
    transition: 0.5s ease-out;

    &:hover {
      /* filter: blur(5px); */
      transform: scale(2);
    }
  }

  
  
  @keyframes bounce {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 90%;
    }
  }
  
  .add-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e75480;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #d03d6b;
  }